<!DOCTYPE html>
<html>

<head>
    <title>landing1</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="simpleApp">
        <v-app>
                <v-content>
                  
                                <v-toolbar
                                  color="rgb(15, 1, 35)"
                                  dark
                                  height="90px"
                                >
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <v-toolbar-title class="green--text">RAINBOW</v-toolbar-title>
                                  <v-spacer></v-spacer>
                                  <v-toolbar-items class="hidden-sm-and-down">
                                      <v-tabs
                                      color="rgb(15, 1, 35)"
                                      dark
                                      icons-and-text
                                    >
                                    <v-tabs-slider color="green"></v-tabs-slider>
                                      <v-tab href="#tab-1">
                                      LOANS
                                        
                                      </v-tab>
                                  
                                      <v-tab href="#tab-2">
                                        CC
                                        
                                      </v-tab>
                                  
                                      <v-tab href="#tab-3">
                                        other products
                                      </v-tab>
                                  
                                      <v-tab-item
                                        v-for="i in 3"
                                        :key="i"
                                        :value="'tab-' + i"
                                      >
                                      </v-tab-item>
                                    </v-tabs>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <v-btn flat>
                                    rainbow heroes
                                    <v-flex xs12 sm3 >
                                    <v-badge top color="green">
                                        <span xs12 sm8 md4 slot="badge"></span>
                                        
                                    </v-badge>
                                  </v-flex>
                                    </v-btn>
                                    <v-divider vertical></v-divider>
                                            <v-btn flat icon color="white">
                                                    <v-icon>search</v-icon>
                                                  </v-btn>
                                    <v-divider vertical></v-divider>
                                    <v-btn flat icon fill color="white">
                                        <v-icon>crop_16_9</v-icon>
                                    </v-btn>
                                    <v-divider vertical></v-divider>
                                    <v-btn flat icon fill color="white">
                                        <v-icon>crop_16_9</v-icon>
                                    </v-btn>
                                    <v-divider vertical></v-divider>
                                    <v-btn  xs color="green">Sign in</v-btn>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                  </v-toolbar-items>
                                </v-toolbar>
            <v-container fluid fill-height color="rgb(15, 1, 35)">
              <v-layout align-center justify-end>
                <v-flex xs12 sm8 md4>
                  <v-card color="rgb(15, 1, 35)"class="elevation-12" class="white--text">
                    <v-toolbar dark color="rgb(15, 1, 35)">
                        <v-tabs
                                      color="rgb(15, 1, 35)"
                                      dark
                                      icons-and-text
                                    >
                                    <v-tabs-slider color="green"></v-tabs-slider>
                                      <v-tab href="#tab-1">
                                      LOANS

                                      </v-tab>
                                   <v-divider vertical></v-divider>
                                      <v-tab href="#tab-2">
                                        CC
                                      </v-tab>
                                      <v-divider vertical></v-divider>
                                      <v-tab href="#tab-3">
                                      Insurance
                                      </v-tab>
                                  
                                      <v-tab-item
                                        v-for="i in 3"
                                        :key="i"
                                        :value="'tab-' + i"
                                      >
                                      </v-tab-item>
                                    </v-tabs>
                  <v-tooltip right>
                  </v-tooltip>
                </v-toolbar>
                <v-card-text color="white">
                  <v-form>
                     <v-container id="dropdown-example" grid-list-xl>
                      <v-layout row wrap>
                        <v-flex xs12 sm4>
                            <font color="white"><b>Type</b></font> 
                          <v-overflow-btn class="white"
                            :items="dropdown_font"
                            label="loan type"
                            target="#dropdown-example"
                          ></v-overflow-btn>
                          </h2>
                          <font color="white"><b>Tenure</b></font> 
                            <v-text-field class="white" prepend-icon="calender_today" name="" label="No. of months selection" type="text"></v-text-field>
                        </h2>
                        </v-flex>
                            </v-layout>
                            </v-container>
                                              
                        <v-flex xs12><font color="white"><b>Interest %</b></font> 
                          
                          <v-slider track-color="#00E676"thumb-color="#00E676"color="#00E676"
                            v-model="slider"
                            thumb-label="always"
                            value="37"
                          ></v-slider>
                        </v-flex>
                        </v-form>
                  </v-form>
                  
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn large block color="#00E676" >Find my fit</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
  </v-app>
</div>
</body>
<script>
  export default {
    data: () => ({
      dropdown_font: ['Student Loan', 'Personal Loan', 'Home Loan', 'Vehicle Loan'],

 })
  }
</script>

<script src="SCRIPTS/framework/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
<script src="SCRIPTS/scripts.js"></script>


</html>

